.features {
  // padding: 160px 120px 94px 120px;
  padding: 160px 0 94px;

  @include mobile {
    padding: 60px 0 64px;
  }

  &__inner {
    @include flex-all-sb;
    gap: 15px;

    @include mini-desctop {
      gap: 40px;
      flex-direction: column;
      align-items: flex-start;
    }

    @include mobile {
      gap: 25px;
    }

    @include tablet {
      // align-items: center;
      // text-align: center;
    }
  }

  &__left {
    position: relative;
  }

  &__stat {
    position: absolute;
    right: 36px;
    bottom: 40px;
    padding: 18px;
    max-width: 290px;
    background-color: #fff;

    @include mobile {
      right: 16px;
      bottom: 20px;
    }

    @include small-mobile {
      right: 12px;
      bottom: 12px;
      padding: 14px;
      max-width: 240px;
    }

    &-head {
      @include flex-all-sb;
    }

    &-title {
      font-weight: 600;
      line-height: 24px;
      color: rgb (29, 30, 37);
    }

    &-item {
      @include flex-align-center;
      position: relative;
      gap: 26px;
      padding: 22px 0 18px;

      @include small-mobile {
        padding: 16px 0 14px;
      }

      &-first {
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          border: 0.73px solid #ededed;
          width: 100%;
        }
      }

      &-img {
        @include small-mobile {
          width: 65px;
        }
      }

      &-title {
        margin-bottom: 6px;
        font-weight: 500;
        font-size: 10.2px;
        line-height: 150%;
        color: rgb (126, 132, 146);
      }

      &-price {
        @include flex-align-center;
        gap: 19px;
        margin-bottom: 9px;

        &-nam {
          font-weight: 700;
          font-size: 23.32px;
          line-height: 120%;
          color: #1d1e25;

          @include mobile {
            font-size: 18px;
          }
        }

        &-proc {
          @include flex-align-center;
          gap: 5px;
          font-weight: 500;
          font-size: 10.2px;
          line-height: 150%;
          color: #1d1e25;
        }
      }

      &-descr {
        font-weight: 400;
        font-size: 8.74px;
        line-height: 11px;
        color: #7e8492;
      }
    }
  }

  &__right {
    max-width: 557px;

    @include mini-desctop {
      max-width: 900px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -2px;
    color: var(--neutral-color-100);

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__descr {
    margin-bottom: 40px;
    max-width: 360px;
    font-weight: 500;
    line-height: 32px;
    color: #7e8492;

    @include mini-desctop {
      max-width: 700px;
    }
  }

  &__list {
    max-width: 353px;

    @include mini-desctop {
      max-width: 550px;
    }
  }

  &__item {
    @include flex-align-center;
    gap: 19px;
    margin-bottom: 32px;

    @include mobile {
      margin-bottom: 22px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-text {
      font-weight: 500;
      line-height: 32px;
      color: var(--neutral-color-100);
    }
  }
}
