.articles2 {
  padding: 160px 0;
  @include mini-desctop {
    padding: 120px 0;
  }
  @include tablet {
    padding: 100px 0;
  }
  @include mobile{
    padding: 80px 0;
  }
  &__head {
    @include flex-all-sb;
    margin-bottom: 80px;

    @include mobile {
      margin-bottom: 40px;
      flex-direction: column;
      gap: 20px;
      text-align: center;
    }
  }
  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -2px;
    color: var(--neutral-color-100);
  }
  &__descr {
    max-width: 435px;
    font-weight: 500;
    line-height: 32px;
    color: var(--neutral-color-150);
  }

  &__nav {
    @include flex-all-sb;
    gap: 5px;
    max-width: 116px;
    width: 100%;
@include small-mobile{
      max-width: 100px;
    }
  }
  &-button-prev,
  &-button-next {
    @include flex-all-center;
    border: 1px solid var(--neutral-color-40);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--neutral-color-100);
    svg {
      path#Icon {
        fill: var(--neutral-color-10);
        fill-opacity: 1;
      }
    }
    @include small-mobile{
      width: 40px;
      height: 40px;
    }
  }
  &-button-next {
    transform: rotate(180deg);
  }
  &__article {
    max-width: 407px;
    width: 100%;

    &-img {
      margin-bottom: 24px;
    }

    &-title {
      margin-bottom: 16px;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: -1%;
      color: var(--neutral-color-100);
    }

    &-descr {
      margin-bottom: 24px;
      max-width: 403px;
      font-weight: 500;
      line-height: 32px;
      color: var(--neutral-color-150);
    }

    &-btn {
      border: 1px solid var(--neutral-color-40);
      display: block;
      padding: 16px 20px;
      max-width: 175px;
      color: var(--neutral-color-100);
      background-color: transparent;

      @include small-tablet {
        padding: 12px 16px;
      }
    }
  }
}

.swiper-button-disabled {
  transition:
    background-color,
    opacity,
    fill var(--transition);
  opacity: 0.8;
  background-color: #fff;
  svg {
    path#Icon {
      fill: var(--neutral-color-40);
      fill-opacity: 1;
    }
  }
}
