.hero {
  overflow-x: hidden;
  padding: 95px 0 160px;

  @include tablet {
    padding: 85px 0 120px;
  }

  @include mobile {
    padding: 65px 0 70px;
  }

  &__title {
    margin-bottom: 53px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -3px;
    color: var(--neutral-color-100);

    @include mobile {
      margin-bottom: 43px;
      text-align: center;
    }
  }

  &__subtitle {
    margin-bottom: 138px;

    & br {
      @include mini-desctop {
        display: none;
      }
    }

    @include tablet {
      margin-bottom: 120px;
    }

    @include small-tablet {
      margin-bottom: 100px;
    }

    @include mobile {
      margin-bottom: 80px;
      text-align: center;
    }

    @include small-mobile {
      margin-bottom: 60px;
    }
  }

  &__list {
    @include flex-align-center;
    gap: 44px;
    margin-bottom: 80px;

    @include tablet {
      gap: 16px 20px;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include small-mobile {
      margin-bottom: 60px;
    }
  }

  &__link {
    position: relative;
    padding: 3px;
    font-weight: 500;
    line-height: 24px;
    color: var(--neutral-color-150);
    transition: var(--transition);

    &:hover {
      position: relative;
      color: var(--neutral-color-100);

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--neutral-color-100);
      }
    }

    &-content {
      color: var(--neutral-color-100);
    }
  }

  &-decor {
    &::before {
      top: 0;
      left: 100px;

      @include mini-desctop {
        left: 80px;
      }

      @include small-tablet {
        top: 20px;
        left: 40px;
      }
    }

    &::after {
      top: 400px;
      right: 0;
    }
  }

  &__slider {
    position: relative;

    &-btns {
      @include flex-all-center;
      position: absolute;
      top: 170px;
      left: 45.4%;
      z-index: var(--z-index-2);
      border-radius: 50%;
      width: 80px;
      height: 80px;
      background-color: #fff;
      transform: translateX(-68%);

      @include mini-desctop {
        left: 54.5%;
      }

      @include tablet {
        display: none;
      }

      @include mobile {
        top: 90px;
        left: 96.1%;
        display: flex;
        width: 50px;
        height: 50px;
      }
    }
  }
  /* stylelint-disable-next-line rule-empty-line-before */
  &__article {
    max-width: 515px;

    &-img {
      display: block;
      margin-bottom: 16px;
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 515/428;
    }

    &-head {
      @include flex-all-sb;
      margin-bottom: 24px;
      font-weight: 400;
      line-height: 150%;
      color: var(--neutral-color-150);

      @include small-mobile {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-title {
      margin-bottom: 16px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -1px;
      color: var(--neutral-color-100);

      @include mobile {
        font-size: 24px;
      }
    }

    &-descr {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: var(--neutral-color-150);

      @include mobile {
        font-size: 18px;
      }
    }
  }
}
