<section class="hero hero-decor">
  <div class="container hero__inner">
    <h2 class="hero__title heading-h1">Activity & Updates</h2>
    <p class="hero__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're <br />
      always designing and building products that <br />
      will help you run your business better.
    </p>
    <ul class="hero__list text-p-default">
      <li class="hero__item">
        <a class="hero__link hero__link-content" href="#">View all</a>
      </li>
      <li class="hero__item">
        <a class="hero__link" href="#">Design</a>
      </li>
      <li class="hero__item">
        <a class="hero__link" href="#">Articles</a>
      </li>
      <li class="hero__item">
        <a class="hero__link" href="#">Product</a>
      </li>
      <li class="hero__item">
        <a class="hero__link" href="#">Software Development</a>
      </li>
      <li class="hero__item">
        <a class="hero__link" href="#">Customer Success</a>
      </li>
    </ul>
    <div class="swiper hero__slider">
      <div class="hero__slider-btns">
        <svg
          width="26.333984"
          height="16.345581"
          viewBox="0 0 26.334 16.3456"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <desc>Created with Pixso.</desc>
          <defs />
          <path
            id="Icon"
            d="M18.16 1.5L24.83 8.17L18.16 14.83M8.16 14.83L1.5 8.17L8.16 1.5"
            stroke="#7E8492"
            stroke-opacity="1.000000"
            stroke-width="3.000000"
            stroke-linejoin="round"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide hero__article">
          <img
            class="hero__article-img"
            loading="lazy"
            width="515"
            height="428"
            src="./assets/images/girl&laptop.jpeg"
            alt="girl and laptop"
          />
          <div class="hero__article-head text-p-small">
            <div class="hero__article-date">
              Published in Insight
              <time datetime="2025-01-30">Jan 30, 2025 </time>
            </div>
            <adress class="hero__article-author">by : Albert Sans</adress>
          </div>
          <h5 class="hero__article-title heading-h5">
            Practice making User Flow
          </h5>
          <p class="hero__article-descr">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <div class="swiper-slide hero__article">
          <img
            class="hero__article-img"
            loading="lazy"
            width="515"
            height="428"
            src="./assets/images/wooman-laptop2.jpeg"
            alt="wooman-laptop"
          />
          <div class="hero__article-head text-p-small">
            <div class="hero__article-date">
              Published in Insight
              <time datetime="2025-01-30">Jan 30, 2025 </time>
            </div>
            <adress class="hero__article-author">by : Albert Sans</adress>
          </div>
          <h5 class="hero__article-title heading-h5">
            Overview of the Design Principles
          </h5>
          <p class="hero__article-descr">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
        <div class="swiper-slide hero__article">
          <img
            class="hero__article-img"
            loading="lazy"
            width="515"
            height="428"
            src="./assets/images/get2.jpeg"
            alt="handshake"
          />
          <div class="hero__article-head text-p-small">
            <div class="hero__article-date">
              Published in Insight
              <time datetime="2025-01-30">Jan 30, 2025 </time>
            </div>
            <adress class="hero__article-author">by : Albert Sans</adress>
          </div>
          <h5 class="hero__article-title heading-h5">
            Using Grid in website design
          </h5>
          <p class="hero__article-descr">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
