<section class="partners">
  <div class="container partners__inner">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <img
          loading="lazy"
          width="97"
          height="30"
          class="partners__item-img"
          src="./assets/icons/partners/airbnb.svg"
          alt="airbnb icons"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          width="97"
          height="30"
          class="partners__item-img"
          src="./assets/icons/partners/amazon.svg"
          alt=" amazon icons"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          width="96"
          height="30"
          class="partners__item-img"
          src="./assets/icons/partners/fedex.svg"
          alt="fedex icons"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          width="90"
          height="30"
          class="partners__item-img"
          src="./assets/icons/partners/google.svg"
          alt=" google icons"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          width="115"
          height="25"
          class="partners__item-img"
          src="./assets/icons/partners/microsoft.svg"
          alt="microsoft icons"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          width="93"
          height="32"
          class="partners__item-img"
          src="./assets/icons/partners/ola.svg"
          alt="ola icons"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          width="113"
          height="26"
          class="partners__item-img"
          src="./assets/icons/partners/walmart.svg"
          alt="walmart icons"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          width="80"
          height="30"
          class="partners__item-img"
          src="./assets/icons/partners/oyo.svg"
          alt="oyo icons"
        />
      </li>
    </ul>
  </div>
</section>
