.hero {
  padding: 87px 0 141px;
  overflow-x: hidden;
  position: relative;

  @include mini-desctop {
    padding: 67px 0 121px;
  }
@include mobile{
  min-height: calc(100dvh - 109px);
}
  &::before,
  &::after {
    content: '';
    z-index: var(--z-index-0);
    display: inline-block;
    position: absolute;
  }
  &::before {
    border-radius: 50%;
    width: 551px;
    height: 551px;
    top: 50px;
    left: 181px;
    filter: blur(220px);
    background: rgb(250, 117, 21);
    opacity: 0.2;

    @include mini-desctop {
      left: 80px;
      width: 351px;
      height: 351px;
    }
    @include small-tablet {
      top: 20px;
      left: 40px;
      width: 251px;
      height: 251px;
    }
  }

  &::after {
    width: 525px;
    height: 525px;
    right: -400px;
    bottom: 0px;
    filter: blur(180px);
    background: rgba(226, 248, 240, 0.7);

    @include mini-desctop {
      width: 325px;
      height: 325px;
    }

    @include small-tablet {
      width: 225px;
      height: 225px;
    }
  }

  &__inner {
    @include flex-justify-between;
    align-items: flex-end;
    gap: 15px;

    @include mini-desctop {
      gap: 50px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__left {
    // max-width: 595px;
    @include mini-desctop{
      max-width: 617px;
    }
  }
  &__title {
    margin-bottom: 114px;
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include mini-desctop {
      margin-bottom: 74px;
    }
    @include tablet {
      margin-bottom: 44px;
      font-size: 60px;
    }
    @include mobile {
      margin-bottom: 38px;
      font-size: 48px;
    }
    @include small-mobile {
      margin-bottom: 30px;
      font-size: 38px;
    }
  }
  &__subtitle {
    margin-bottom: 69px;
    & br {
      @include mini-desctop {
        display: none; 
      }
    }
  }

  &__form {
    @include flex-align-center;
    gap: 16px;

    @include mini-desctop {
      justify-content: center;
    }
    @include small-mobile {
      gap: 20px;
      flex-direction: column;
    }
  }
  &__input {
    min-width: 280px;
    padding-bottom: 23px;
    border-bottom: 1px solid var(--neutral-color-120);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
    text-align: left;
    color: var(--neutral-color-60);
    background-color: transparent;

    @include small-tablet {
      padding-bottom: 13px;
    }
    @include mobile {
      max-width: 180px;
      min-width: 100px;
    }
  }

  &__btn {
    padding: 16px 44px;
    color: var(--neutral-color-10);
    background-color: var(--neutral-color-100);

    @include small-tablet {
      padding: 12px 32px;
    }
  }
  &__right {
    position: relative;
    margin-right: 20px;

    @include mini-desctop {
      display: none;
    }
  }

  &__sales {
    border-radius: 8px;
    margin-bottom: 29px;
    padding: 20px;
    box-shadow: 20px 40px 80px 0px rgba(89, 96, 135, 0.12);
    background-color: #fff;

    @include small-desctop {
      max-width: 320px;
    }

    &-title {
      margin-bottom: 16px;
      color: #1d1e25;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: -0.5px;
      text-align: left;
    }

    &-img {
      @include small-desctop {
        max-width: 280px;
      }
    }
  }

  &__customer {
    position: absolute;
    top: -60px;
    right: -140px;
    border-radius: 8px;
    padding: 16px 18px 16px 18px;
    display: inline-block;
    box-shadow: 20px 40px 80px 0px rgba(45, 51, 81, 0.12);
    background: rgb(255, 255, 255);

    @include small-desctop {
      top: -140px;
      right: -30px;
    }

    @include mini-desctop {
      top: 0px;
      right: -100px;
    }

    &__title {
      margin-bottom: 12px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: -0.5px;
      text-align: left;
    }
  }

  &__stats {
    border-radius: 8px;
    padding: 20px 28px;
    box-shadow: 20px 40px 80px 0px #2d33511f;
    text-align: left;
    background: #000;

    &-head {
      &-th {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        color: #5c616f;
      }
    }

    &-body {
      &-td {
        white-space: nowrap;
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0px;
        color: #fff;

        &:nth-child(1) {
          padding-right: 80px;
        }
      }
      &-num {
        display: inline-block;
        margin-right: 3px;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;

        &--green {
          color: #60d39c;

          &::before {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            background: url('../../../../assets/icons/arrow-green.svg')
              no-repeat;
          }
        }
        &--red {
          color: #e35454;

          &::before {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            background: url('../../../../assets/icons/arrow-red.svg') no-repeat;
          }
        }
      }
      &-text {
        color: #5c616e;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.5px;
      }
    }
  }
}
