.qur-team {
  position: relative;
  padding: 160px 0;

  @include tablet {
    padding: 120px 0;
  }

  @include mobile {
    padding: 80px 0;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: var(--z-index-0);
    display: inline-block;
    width: 525px;
    height: 525px;
    background: #e2f8f0b3;
    filter: blur(180px);

    @include mini-desctop {
      width: 325px;
      height: 325px;
    }

    @include small-tablet {
      width: 225px;
      height: 225px;
    }
  }

  &__title {
    margin-bottom: 24px;
    max-width: 803px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -2px;
    color: var(--neutral-color-100);

    @include tablet {
      max-width: 603px;
    }

    @include mobile {
      text-align: center;
    }
  }

  &__descr {
    margin-bottom: 80px;
    max-width: 534px;
    font-weight: 500;
    line-height: 32px;
    color: var(--neutral-color-150);

    @include tablet {
      max-width: 510px;
    }

    @include mobile {
      margin-bottom: 65px;
      text-align: center;
    }

    @include small-mobile {
      margin-bottom: 45px;
    }
  }

  &__slider {
    position: relative;
    margin-bottom: 105px;

    @include mobile {
      margin-bottom: 60px;
    }

    &-btns {
      @include flex-all-center;
      position: absolute;
      top: 155px;
      left: 34%;
      z-index: var(--z-index-2);
      border-radius: 50%;
      width: 80px;
      height: 80px;
      background-color: #fff;
      transform: translateX(-68%);

      @include mini-desctop {
        left: 41.1%;
      }

      @include tablet {
        display: none;
      }

      @include mobile {
        top: 90px;
        left: 94.5%;
        display: flex;
        width: 50px;
        height: 50px;
      }

      @include small-mobile {
        top: 90px;
        left: 95%;
        display: flex;
        width: 50px;
        height: 50px;
      }
    }
  }

  &__article {
    width: 100%;
    max-width: 379px;

    &-img {
      margin-bottom: 60px;

      @include mobile {
        margin-bottom: 35px;
      }
    }

    &-wrapper {
      @include flex-all-sb;
      margin-bottom: 8px;
    }

    &-name {
      font-weight: 600;
      line-height: 150%;
    }

    &-social {
      @include flex-align-center;
      gap: 8px;
    }

    &-link {
      @include flex-all-center;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      background-color: var(--neutral-color-150);
    }

    &-profession {
      font-weight: 500;
      line-height: 150%;
      color: var(--neutral-color-150);
    }
  }

  &__bottom {
    @include flex-justify-between;
    gap: 10px;

    @include mobile {
      gap: 30px;
      flex-direction: column;
      text-align: center;
    }

    &-title {
      max-width: 626px;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -2px;
      color: var(--neutral-color-100);
    }

    &-descr {
      max-width: 506px;
      font-weight: 500;
      line-height: 32px;
      color: var(--neutral-color-150);
    }

    &-wrapper {
      display: flex;
      gap: 24px;
      flex-direction: column;
    }

    &-link {
      font-weight: 600;
      line-height: 24px;
      color: var(--neutral-color-100);
    }
  }
}
